doctype html
html
  head
    meta(charset="utf-8")
    title harusamex.com

    link(rel="stylesheet" href="styles/main.css")

  body
    #entrypoint

    .content
      h2 Who am I
      p spring-raining(はるさめ)
      p
        |　I live in Hyogo, Japan. I'm student at Osaka University.
        br
        | I like technologies pioneer the web.
      p
        a(href="https://github.com/spring-raining") GitHub
        a(href="https://twitter.com/spring_raining") Twitter
        a(href="http://spring-raining.tumblr.com/") Tumblr
        a(href="http://spring-raining.hatenablog.com/") Blog
        a(href="https://speakerdeck.com/spring_raining") Speaker Deck
        a(href="http://www.amazon.co.jp/registry/wishlist/2QFXRULZWJ5P") Amazon(Wish List)

      h2 Work Experience
      ul
        li July 2015 - February 2016 Part-Time Programmer at Xyzzyx, Inc.
        li August 2014 - September 2014 Internship at Hatena Co., Ltd.
        li September 2012 - June 2013 Part-Time Programmer at CubeSoft, Inc.

      h2 Works
      .works-collapse
        h4 Giraf
        div Web-Based GIF animation creator
      .works-collapse
        h4 SSRサインジェネレータ
        div
          | Autograph drawing tool (Parody of the game, which called
          cite The Idolmaster Cinderella Girls Starlight Stage
          |)
      .works-collapse
        h4 Shiki
        div Parallax scrolling Tumblr theme

      h2 Contact
      p harusamex.com
      p ...or Tweet to @spring_raining

    script(src="scripts/main.js")

