doctype html
//___________________.~DMMMMMMMMMMMMMMMMMMMMMMMMMMMM:___________________BIG_MIYAKO
//___=MMMMMMMMMMMMMMMMMO7777I7I77II7IIIII7IIIIIII7III8MMMMMMMMM$._______________IS
//___:MMM7=~,,.. ..,~?II7IIIIIIIIIIIIIIIIIII7IIII7IIII77I77777I7DMMMM.____WATCHING
//_____OMMM?,,............=..,:~+?IIIII777IIIIII7III?I??$I7III7777II78MM+._____YOU
//__MMM77?=,.......7....,:.,D..........=.,..,=:I77777I7I7I7IIIZI$I777II78MM.______
//MM77I$OMI7I7I7I8II$NM~IZ8:III777IIII77777OIOO77DMO7I77777DI7I77IIZ7I77IIIMM_____
//I7MMMI7IIZ87I$77OMO::OD~:D777I7I7N77D:::77DIN:=7DNMN$I87I7O7IIIII7II$77I7I8M7.__
//MMMOII7DNIIOMIDN+:::~8:::$DIIIIINN7ZM::::~IODM::=D=NMMN7N77Z7IIIIIII777I7II7MM__
//NM77IDMD77MMON~78ON8~::::D~877I7NN$N:::::::Z8N:::ODO8MMMMMD7777IIIIIIII7NI7IIMM_
//M77ZMMO7DMNNZ::OZD8O::::::+:77IZMMN:::::::::~O~::OODOO::INNM777777I77I$II7$IIIM.
//77NMNN7NN~=~:::ODO8~::::::I::I7DMM~:::::::::::~:?88OD~::::::77IIIIIII7O$ID$7I7DM
//7DMMM7DN::::::$DO8O::::::::::::NMM::::::::::::::8OOO8:::::::II$777IIIIN$IND877$M
//ZNDMM7N:::::::8ZDO$::::::::::::::~::::::::::::::ODOZ8:::::::7II7IIIDIDM77NNI777M
//NMI7=D::::::::Z8OD::::::::::::::::::::::::::::::8ONOO::::::8IZ7III8$8NMIM:~777IM
//M7NM:+:~~~~~~=OOZZ:::::::::::::::::::::::::::::~888DZ:::::~8:87IIZM8MM$7??==I87M
//NNM:::~~====~~~~:::::::::::::::::::::::::::::::::~~~~~~:~~:::7I78MMMMOI???~=D7IM
//MMM=:~~~~~~~~~~::::::::::~~~~::~::::::::::::::::~~~+===~==~~M77NMMMD:I~==::NNI8M
//__7M::::::::::::::::::::77III7IIIIIIIIIIIIIIII7=~~~~==~~~~~87DMNMM::$::::?NNNMMM
//____MMI=::::::::::::::::$7777777III777777II77II:::::::::::$NMMN~:::~:~OMMM8MMMZ7
//_______$MMMMMM8I::::::::,=777777IIIIII7777IIIN~:::::::::$N?7DNNNNNNMMD7777ZDNMMM
//_______________+8MMMMMMMM?MZZZOZZZZOOOO88888OOZZZOZZOOZ++_________OZMNN77777$M__
html
  head
    meta(charset="utf-8")
    title harusamex.com

    meta(name="viewport" content="initial-scale=1.0")
    meta(name="theme-color" content="#cccccc")

    link(rel="stylesheet" href="styles/main.css")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46915388-1', 'auto');
      ga('send', 'pageview');

  body
    #entrypoint

    .content
      h2 Who am I
      p spring-raining(はるさめ)
      p
        | I live in Hyogo, Japan. I'm student at Osaka University.
        br
        | I like technologies pioneer the web.
      p.flex
        span: a(href="https://github.com/spring-raining") GitHub
        span: a(href="https://twitter.com/spring_raining") Twitter
        span: a(href="http://spring-raining.tumblr.com/") Tumblr
        span: a(href="http://spring-raining.hatenablog.com/") Blog
        span: a(href="https://speakerdeck.com/spring_raining") Speaker Deck
        span: a(href="http://www.amazon.co.jp/registry/wishlist/2QFXRULZWJ5P") Amazon(Wish List)

      h2 Work Experience
      ul
        li July 2015 - February 2016 Part-Time Programmer at Xyzzyx, Inc.
        li August 2014 - September 2014 Internship at Hatena Co., Ltd.
        li September 2012 - June 2013 Part-Time Programmer at CubeSoft, Inc.

      h2 Products
      .works-collapse
        h4: a(href="https://spring-raining.github.io/Giraf") Giraf
        div Web-Based GIF animation creator
      .works-collapse
        h4: a(href="http://ssrgen.harusamex.com/") SSRサインジェネレータ
        div
          | Autograph drawing tool (Parody of the game, which called
          cite The Idolmaster Cinderella Girls Starlight Stage
          |)
      .works-collapse
        h4: a(href="http://shikitheme.tumblr.com/") Shiki
        div Parallax scrolling Tumblr theme

      h2 Contact
      p harusamex.com@gmail.com
      p ...or&ensp;
        a(href="https://twitter.com/intent/tweet?screen_name=spring_raining") Tweet to @spring_raining

    script(src="scripts/main.js")

